* {
    padding: 0px;
    margin: 0px;
}


.nav {
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    padding: 9px;
    align-items: center;

}

.images {
    height: 50px;
}

.iteams {
    display: flex;
    font-size: 15px;
    gap: 32px;
}

.herosection {
    position: relative;
}


.hero {
    width: 100%;
    height: 600px;
    display: flex;
    object-fit: cover;
}

.text {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    justify-content: center;
    /* background-color: red; */
    font-size: 20px;
    text-transform: capitalize;
    color: white;
    z-index: 1;
    top: 0px;
    width: 100%;
    height: 100%;
}

.content {
    font-size: 30px;

    font-family: "Nothing You Could Do", cursive;
}

.pixel {
    font-size: 15px;
    font-family: "Nothing You Could Do", ;
}

.Explore_button {
    background-color: #1EC6B6;
    width: fit-content;
    height: fit-content;
    padding: 15px 30px;
    border-radius: 5px;
}

.Explore_button:hover {
    background-color: orangered;
}

.pov {
    color: aliceblue;
    background-color: #040E27;
    display: flex;
    justify-content: center;
    padding: 12px;
    align-items: center;
    gap: 30px;


}

.Search {
    background-color: #FF4A52;
    width: fit-content;
    height: fit-content;
    padding: 10px 20px;
    border-radius: 5px;
}

.Search:hover {
    background-color: #1EC6B6;

}

.date {

    padding: 7px 15px;
    border: 2px solid rgb(241, 241, 241);
    border-radius: 5px;
}

.goo {

    padding: 7px 15px;
    border: 2px solid rgb(241, 241, 241);
    border-radius: 5px;
}

.travel {

    padding: 7px 15px;
    border: 2px solid rgb(241, 241, 241);
    border-radius: 5px;

}

.place {
    font-family: "Rubik", sans-serif;
}

.Destination {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60PX;
    font-family: "Rubik", sans-serif;
    font-size: 30PX;



}

.Popular {
    font-size: 25px;
}

.alteration {
    font-size: 15Px;
    padding: 6PX;


}

.photo {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 20px;
    gap: 30px;


}

.photo img {
    width: 100%;
}

.Subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: aliceblue;
    background-color: #040E27;
    font-size: 16px;
    padding: 40px;
    margin: 30px 0px;
    align-items: center;
}

.Places {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 20px;
    gap: 30px;


}

.Places img {
    width: 100%;
}

.usa {
    padding: 10px;
    background-color: bisque;
    font-size: 20PX;
    font-family: "Rubik", sans-serif;
}

.us {
    padding: 10px;
    font-size: 15PX;

}

.moreplace {

    align-items: center;
    /* margin: 40PX; */
    background-color: #1EC6B6;
    width: fit-content;
    height: fit-content;
    /* margin-left: 600px; */
    margin: 30px auto;
    padding: 15px 30px;
    border-radius: 5px;

}

.moreplace:hover {

    background-color: orangered;

}

.enjoy {
    position: relative;
}

.vid {
    width: 100%;
    height: 500px;
    display: flex;
    object-fit: cover;
}

.video {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;

    flex-direction: column;
    align-items: center;
    gap: 12px;
    justify-content: center;
    top: 0px;
    font-size: 30px;

    font-family: "Nothing You Could Do", cursive;


}

.play svg path {
    color: blue;

}

.bus {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 50px auto;
    width: 70%;
}

.bus image {
    width: 100%;
}

.svg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.soul {
    margin: 5px;
    font-size: 16px;
    width: 50%;
    text-align: center;
}

.Journey {
    margin: 5px;
    font-size: 24px;
}

.testmonial_author {
    margin: 0px auto;
   

}

.testmonial {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #F7FAFD;
    height: 300px;

}

.work {
    width: 30%;
    text-align: center;
    margin: 9px;
}

.trip {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 40px;
}

.journey {
    width: 70%;
    font-size: 24px;

}

.journey:hover {
    color: #FF4A52;
}

.oct {
    margin: 5px;

}

.end {
    margin: 50PX auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
}

.end image {
    width: 100%;
    
}

.inst {

    display: flex;
    flex-direction: row;
    width: 20PX;
    height: 20PX;
    gap: 15px;


}

.loc {
    width: 200px;
}

.footer {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */

    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 40px;
    color: #F7FAFD;
    background-color: #040E27;
    width: 100%;
    /* height: 400px; */
    padding: 70px 0px;

}
.Popular-destination{
    font-size: 24px;
  
}
.Popular-destination1 {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
  gap: 60px;
   font-size: 16px;

}


.dest_manus {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.Instagram55 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: row;
    gap: 20px;
    width: 400px;
    /* height: ; */

}

.Company {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 24px;
}
.home{
    font-size: 16px;
}


.Instagram55 img {
    height: 60px;
    object-fit: cover;
    width: 100%;
}

.logoo {

    display: flex;
    flex-direction: column;
    gap: 30px;
}


.logs_mru {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    /* gap: 20px; */
    font-size: 30px;
}

.logo55 {
    height: 40px;
    object-fit: contain;
    
}
@media (max-width:1024px) {

    .iteams {
        display: none;
     
    }

    .hero {
        height: 400px;
        
    }

   .pov {
    color: aliceblue;
    background-color: #040E27;
    display: flex;
   

    padding: 30px;
    align-items: center;
    gap: 30px;



}

    .Destination {


        font-family: "Rubik", sans-serif;




    }

    .Popular {
        font-size: 25px;
        text-transform: capitalize;
        
    }

    .alteration {
        font-size: 16Px;
        text-align: center;



    }

    .photo {
        display: flex;
        justify-content: center;
        width: 90%;
        margin: 0px auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-size: 20px;



    }

    .Subscribe {

        color: aliceblue;

        font-size: 25px;


        align-items: center;
        
    }

    .Subscribe2 {
        font-size: 16Px;
        text-align: center;
        
    }

    .Places {


        display: grid;
        grid-template-columns: 1fr 1fr;




    }

    .bus {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: auto;
        gap: 10px;
font-size: 26PX;        


    }

    .soul {

        font-size: 20px;
        width: auto;
    }

    .testmonial {

   background-color: #FF4A52;
        background-color: #F7FAFD;


    }

    .work {
        width: 70%;
        text-align: center;

        
    }

    .end {

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
      
        width: 90%;
        
        
        
    }

    .randomised img{
        width: 100%;
       
    }

    .journey {
        width: 70%;
        font-size: 16px;
        padding: 10PX;


    }
   
    

    .logoo {
        display: flex;
        flex-direction: column;
        
    }
   
.Instagram55 {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: row;
    gap: 10px;
   
    

}
.Instagram55 img {
    height: 60px;
    width: 100px;
  
    
}
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* justify-content: space-between; */

    /* align-items: center; */
    gap: 40px;
    color: #F7FAFD;
    background-color: #040E27;
    width: 100%;
    /* height: 400px; */
    /* padding: 70px 0px; */

}
.Popular-destination1 {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    gap: 60px;

    
}
.loko{
    display: flex;
    flex-direction: row;
}

.logo55 {
    height: 40px;
    object-fit: contain;
    margin-right: auto;
}


}
@media (max-width:768px) {

    .iteams {
        display: none;
     
    }

    .hero {
        height: 400px;
        
    }

   .pov {
    color: aliceblue;
    background-color: #040E27;
    display: flex;
   

    padding: 30px;
    align-items: center;
    gap: 30px;



}

    .Destination {


        font-family: "Rubik", sans-serif;




    }

    .Popular {
        font-size: 25px;
        text-transform: capitalize;
        
    }

    .alteration {
        font-size: 16Px;
        text-align: center;



    }

    .photo {
        display: flex;
        justify-content: center;
        width: 90%;
        margin: 0px auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-size: 20px;



    }

    .Subscribe {

        color: aliceblue;

        font-size: 25px;


        align-items: center;
        
    }

    .Subscribe2 {
        font-size: 16Px;
        text-align: center;
        
    }

    .Places {


        display: grid;
        grid-template-columns: 1fr 1fr;




    }

    .bus {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: auto;
        gap: 10px;
font-size: 26PX;        


    }

    .soul {

        font-size: 20px;
        width: auto;
    }

    .testmonial {

   background-color: #FF4A52;
        background-color: #F7FAFD;


    }

    .work {
        width: 70%;
        text-align: center;

        
    }

    .end {

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
      
        width: 90%;
        
        
        
    }

    .randomised img{
        width: 100%;
       
    }

    .journey {
        width: 70%;
        font-size: 16px;
        padding: 10PX;


    }
   
    

    .logoo {
        display: flex;
        flex-direction: column;
        
    }
   
.Instagram55 {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: row;
    gap: 10px;
   
    

}
.Instagram55 img {
    height: 60px;
    width: 100px;
  
    
}
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* justify-content: space-between; */

    /* align-items: center; */
    gap: 40px;
    color: #F7FAFD;
    background-color: #040E27;
    width: 100%;
    /* height: 400px; */
    /* padding: 70px 0px; */

}
.Popular-destination1 {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    gap: 60px;

    
}
.loko{
    display: flex;
    flex-direction: row;
}

.logo55 {
    height: 40px;
    object-fit: contain;
    margin-right: auto;
}


}
@media (max-width:480px) {

    .iteams {
        display: none;
     
    }

    .hero {
        height: 400px;
        
    }

    .pov {
        display: grid;
        padding: 20px;
      


    }

    .Destination {


        font-family: "Rubik", sans-serif;




    }

    .Popular {
        font-size: 25px;
        text-transform: capitalize;
        
    }

    .alteration {
        font-size: 11Px;
        text-align: center;



    }

    .photo {
        display: flex;
        justify-content: center;
        width: 90%;
        margin: 0px auto;
        display: grid;
        grid-template-columns: 1fr;
        font-size: 20px;



    }

    .Subscribe {

        color: aliceblue;

        font-size: 16px;


        align-items: center;
        
    }

    .Subscribe2 {
        font-size: 12Px;
        text-align: center;
        
    }

    .Places {


        display: grid;
        grid-template-columns: 1fr;




    }

    .bus {
        display: grid;
        grid-template-columns: 1fr;
        width: auto;
        gap: 5px;
        


    }

    .soul {

        font-size: 16px;
        width: auto;
    }

    .testmonial {

   background-color: #FF4A52;
        background-color: #F7FAFD;


    }

    .work {
        width: auto;
        text-align: center;

        
    }

    .end {

        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        width: 80%;
        
        
        
    }

    .randomised img{
        width: 100%;
    }

    .journey {
        width: 70%;
        font-size: 16px;


    }

    

    .logoo {
        display: flex;
        flex-direction: column;
        
        
    }
.Instagram55 {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1 fr;
    flex-direction: row;
    gap: 10px;
   
    

}
.Instagram55 img {
    height: 60px;
    width: 100px;
  
    
}
.footer {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */

    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 40px;
    color: #F7FAFD;
    background-color: #040E27;
    width: 100%;
    /* height: 400px; */
    padding: 70px 0px;

}
.Popular-destination1 {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    gap: 60px;

    
}
.date {
  

    padding: 7px 110px;
    border: 2px solid rgb(241, 241, 241);
    border-radius: 5px;
}

.goo {

    padding: 7px 110px;
    border: 2px solid rgb(241, 241, 241);
    border-radius: 5px;
}

.travel {
 
    padding: 7px 110px;
    border: 2px solid rgb(241, 241, 241);
    border-radius: 5px;

}

}
